---
const {color, ticketName, birdStatus, birdDate, ticketInfo, ticketPrice, ulDisplay, li1, li2, li3, li4, li5, li6} = Astro.props;
---

<article class={color}>
    <div id="head">
        <div id="top">
            <img id="logo" src="/img/dandelion.png" alt="logo">
            <p class="status"></p>
            <a href="">
                <img id="buyTickets" src="/buyTickets.svg" alt="" />
            </a>
        </div>
        <div id="bottom">
            <div>
                    <h2 id="ticketName">{ticketName}</h2>
                <div id="birdBox">
                    <h3>{birdStatus}</h3>
                    <h4>{birdDate}</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="info">
        <p>{ticketInfo}</p>
        <ul class={ulDisplay}>
            <li>{li1}</li>
            <li>{li2}</li>
            <li>{li3}</li>
            <li>{li4}</li>
            <li>{li5}</li>
            <li>{li6}</li>
        </ul>
    </div>
    <div id="footer">
        <h2>{ticketPrice}</h2>
    </div>
</article>

<style>
    article{
        padding: 1rem;
        width: 400px;
        height: 600px;
        max-height: 400px;
        max-height: 600px;
        display: grid;
        grid-template-rows: 220px 300px 80px;
        border-radius: 10px;
    }

    #head{
        display: flex;
        flex-direction: column;

    }

    #top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #info{
        display: flex;
        flex-direction: column;

    }

    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;     
    }

    #footer h3{
        margin: 0;
    }

    .color1{
        background-image: url(/svg/color1.svg);
        background-size: cover;
    }
    .color2{
        background-image: url(/svg/color2.svg);
        background-size: cover;
    }

    .color3{
        background-image: url(/svg/color3.svg);
        background-size: cover;
    }

    .color4{
        background-image: url(/svg/color4.svg);
        background-size: cover;
    }

    #info, #head{
        border-bottom: solid rgb(23, 39, 39) 1px;
    }

    #logo{
        width: 75px;
        height: 75px;
    }

    #buyTickets{
        height: 60px;
        width: auto;
    }

    ul{
        padding-left: 1rem;
        margin: 0;
    }

    #birdBox h3, h4{
        margin: 5px;
    }

    .hide{
        display: none;
    }

    @font-face {
    font-family: kollektif;
    src: url(../css/fonts/Kollektif.ttf);
}

@font-face{
    font-family: interReg;
    src: url(../css/fonts/Inter-Regular.ttf);
}

@font-face{
    font-family: interBold;
    src: url(../css/fonts/Inter-Bold.ttf);
}

h2, h3, h3, h4, h5, p{
    color: rgb(23, 39, 39);
}

h1, h2, h3{
    font-family: kollektif;
}

h4, h5{
    font-family: interBold;
}

p, li{
    font-family: interReg;
}

</style>